<table class="table table-bordered table-hover table-sm mt-3">
  <thead></thead>
    <tr>
      <th>User name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Company of insurance</th>
      <th>Company rating</th>
      <th>International</th>
      <th>Active</th>
      <th>Expiration</th>
      <th>Business</th>
      <th>Price, $</th>
    </tr>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td><%= user.company.name %></td>
        <td><%= user.company.rating %></td>
        <td><%= user.company.international %></td>
        <td><%= user.insurance.active %></td>
        <td><%= user.insurance.expiration %></td>
        <td><%= user.insurance.business %></td>
        <td><%= user.insurance.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
