<tr>
  <td><%= user.name %></td>
  <td><%= user.age %></td>
  <td><%= user.gender %></td>
  <td><%= user.company.name %></td>
  <td><%= user.company.rating %></td>
  <td><%= user.company.international %></td>
  <td><%= user.insurance.active %></td>
  <td><%= user.insurance.expiration %></td>
  <td><%= user.insurance.business %></td>
  <td><%= user.insurance.price %></td>
</tr>
